.#{$icon-css-prefix}-spin4:before { content: $icon-var-spin4; }
.#{$icon-css-prefix}-crown:before { content: $icon-var-crown; }
.#{$icon-css-prefix}-crown-plus:before { content: $icon-var-crown-plus; }
.#{$icon-css-prefix}-crown-minus:before { content: $icon-var-crown-minus; }
.#{$icon-css-prefix}-search:before { content: $icon-var-search; }
.#{$icon-css-prefix}-star:before { content: $icon-var-star; }
.#{$icon-css-prefix}-star-empty:before { content: $icon-var-star-empty; }
.#{$icon-css-prefix}-star-half:before { content: $icon-var-star-half; }
.#{$icon-css-prefix}-star-half-alt:before { content: $icon-var-star-half-alt; }
.#{$icon-css-prefix}-user:before { content: $icon-var-user; }
.#{$icon-css-prefix}-user-plus:before { content: $icon-var-user-plus; }
.#{$icon-css-prefix}-user-times:before { content: $icon-var-user-times; }
.#{$icon-css-prefix}-users:before { content: $icon-var-users; }
.#{$icon-css-prefix}-plus:before { content: $icon-var-plus; }
.#{$icon-css-prefix}-minus:before { content: $icon-var-minus; }
.#{$icon-css-prefix}-male:before { content: $icon-var-male; }
.#{$icon-css-prefix}-female:before { content: $icon-var-female; }
.#{$icon-css-prefix}-child:before { content: $icon-var-child; }
.#{$icon-css-prefix}-spin6:before { content: $icon-var-spin6; }
.#{$icon-css-prefix}-spin3:before { content: $icon-var-spin3; }
.#{$icon-css-prefix}-marquee:before { content: $icon-var-marquee; }
.#{$icon-css-prefix}-user-secret:before { content: $icon-var-user-secret; }
.#{$icon-css-prefix}-video:before { content: $icon-var-video; }
.#{$icon-css-prefix}-videocam:before { content: $icon-var-videocam; }
.#{$icon-css-prefix}-picture:before { content: $icon-var-picture; }
.#{$icon-css-prefix}-camera:before { content: $icon-var-camera; }
.#{$icon-css-prefix}-camera-alt:before { content: $icon-var-camera-alt; }
.#{$icon-css-prefix}-th-large:before { content: $icon-var-th-large; }
.#{$icon-css-prefix}-th:before { content: $icon-var-th; }
.#{$icon-css-prefix}-th-list:before { content: $icon-var-th-list; }
.#{$icon-css-prefix}-ok:before { content: $icon-var-ok; }
.#{$icon-css-prefix}-ok-squared:before { content: $icon-var-ok-squared; }
.#{$icon-css-prefix}-cancel:before { content: $icon-var-cancel; }
.#{$icon-css-prefix}-ok-circled:before { content: $icon-var-ok-circled; }
.#{$icon-css-prefix}-ok-circled2:before { content: $icon-var-ok-circled2; }
.#{$icon-css-prefix}-plus-squared:before { content: $icon-var-plus-squared; }
.#{$icon-css-prefix}-cancel-circled:before { content: $icon-var-cancel-circled; }
.#{$icon-css-prefix}-plus-squared-alt:before { content: $icon-var-plus-squared-alt; }
.#{$icon-css-prefix}-cancel-circled2:before { content: $icon-var-cancel-circled2; }
.#{$icon-css-prefix}-minus-squared:before { content: $icon-var-minus-squared; }
.#{$icon-css-prefix}-minus-squared-alt:before { content: $icon-var-minus-squared-alt; }
.#{$icon-css-prefix}-help:before { content: $icon-var-help; }
.#{$icon-css-prefix}-plus-circled:before { content: $icon-var-plus-circled; }
.#{$icon-css-prefix}-info-circled:before { content: $icon-var-info-circled; }
.#{$icon-css-prefix}-info:before { content: $icon-var-info; }
.#{$icon-css-prefix}-home:before { content: $icon-var-home; }
.#{$icon-css-prefix}-cogs:before { content: $icon-var-cogs; }
.#{$icon-css-prefix}-right-dir:before { content: $icon-var-right-dir; }
.#{$icon-css-prefix}-link-ext:before { content: $icon-var-link-ext; }
.#{$icon-css-prefix}-left-dir:before { content: $icon-var-left-dir; }
.#{$icon-css-prefix}-play-1:before { content: $icon-var-play-1; }
.#{$icon-css-prefix}-up-dir:before { content: $icon-var-up-dir; }
.#{$icon-css-prefix}-down-dir:before { content: $icon-var-down-dir; }
.#{$icon-css-prefix}-play:before { content: $icon-var-play; }
.#{$icon-css-prefix}-fast-backward:before { content: $icon-var-fast-backward; }
.#{$icon-css-prefix}-fast-forward:before { content: $icon-var-fast-forward; }
.#{$icon-css-prefix}-forward-1:before { content: $icon-var-forward-1; }
.#{$icon-css-prefix}-step-backward:before { content: $icon-var-step-backward; }
.#{$icon-css-prefix}-pause-1:before { content: $icon-var-pause-1; }
.#{$icon-css-prefix}-play-2:before { content: $icon-var-play-2; }
.#{$icon-css-prefix}-stop-1:before { content: $icon-var-stop-1; }
.#{$icon-css-prefix}-comment:before { content: $icon-var-comment; }
.#{$icon-css-prefix}-chat:before { content: $icon-var-chat; }
.#{$icon-css-prefix}-chat-empty:before { content: $icon-var-chat-empty; }
.#{$icon-css-prefix}-step-forward:before { content: $icon-var-step-forward; }
.#{$icon-css-prefix}-play-circled2:before { content: $icon-var-play-circled2; }
.#{$icon-css-prefix}-stop:before { content: $icon-var-stop; }
.#{$icon-css-prefix}-pause:before { content: $icon-var-pause; }
.#{$icon-css-prefix}-backward:before { content: $icon-var-backward; }
.#{$icon-css-prefix}-pause-circled:before { content: $icon-var-pause-circled; }
.#{$icon-css-prefix}-cancel-1:before { content: $icon-var-cancel-1; }
.#{$icon-css-prefix}-spin2:before { content: $icon-var-spin2; }
.#{$icon-css-prefix}-reply:before { content: $icon-var-reply; }
.#{$icon-css-prefix}-reply-all:before { content: $icon-var-reply-all; }
.#{$icon-css-prefix}-forward:before { content: $icon-var-forward; }
.#{$icon-css-prefix}-spin1:before { content: $icon-var-spin1; }
.#{$icon-css-prefix}-spin5:before { content: $icon-var-spin5; }
.#{$icon-css-prefix}-down-1:before { content: $icon-var-down-1; }
.#{$icon-css-prefix}-pause-2:before { content: $icon-var-pause-2; }
.#{$icon-css-prefix}-resize-full-3:before { content: $icon-var-resize-full-3; }
.#{$icon-css-prefix}-left-1:before { content: $icon-var-left-1; }
.#{$icon-css-prefix}-right-1:before { content: $icon-var-right-1; }
.#{$icon-css-prefix}-pencil:before { content: $icon-var-pencil; }
.#{$icon-css-prefix}-pencil-squared:before { content: $icon-var-pencil-squared; }
.#{$icon-css-prefix}-edit:before { content: $icon-var-edit; }
.#{$icon-css-prefix}-resize-small-3:before { content: $icon-var-resize-small-3; }
.#{$icon-css-prefix}-retweet:before { content: $icon-var-retweet; }
.#{$icon-css-prefix}-keyboard:before { content: $icon-var-keyboard; }
.#{$icon-css-prefix}-gamepad:before { content: $icon-var-gamepad; }
.#{$icon-css-prefix}-up-1:before { content: $icon-var-up-1; }
.#{$icon-css-prefix}-volume-off:before { content: $icon-var-volume-off; }
.#{$icon-css-prefix}-volume-down:before { content: $icon-var-volume-down; }
.#{$icon-css-prefix}-volume-up:before { content: $icon-var-volume-up; }
.#{$icon-css-prefix}-bullhorn:before { content: $icon-var-bullhorn; }
.#{$icon-css-prefix}-right-bold:before { content: $icon-var-right-bold; }
.#{$icon-css-prefix}-up-bold:before { content: $icon-var-up-bold; }
.#{$icon-css-prefix}-down-fat:before { content: $icon-var-down-fat; }
.#{$icon-css-prefix}-attention-alt:before { content: $icon-var-attention-alt; }
.#{$icon-css-prefix}-attention:before { content: $icon-var-attention; }
.#{$icon-css-prefix}-attention-circled:before { content: $icon-var-attention-circled; }
.#{$icon-css-prefix}-location:before { content: $icon-var-location; }
.#{$icon-css-prefix}-trash:before { content: $icon-var-trash; }
.#{$icon-css-prefix}-trash-empty:before { content: $icon-var-trash-empty; }
.#{$icon-css-prefix}-cog:before { content: $icon-var-cog; }
.#{$icon-css-prefix}-cog-alt:before { content: $icon-var-cog-alt; }
.#{$icon-css-prefix}-menu:before { content: $icon-var-menu; }
.#{$icon-css-prefix}-wrench:before { content: $icon-var-wrench; }
.#{$icon-css-prefix}-sliders:before { content: $icon-var-sliders; }
.#{$icon-css-prefix}-basket:before { content: $icon-var-basket; }
.#{$icon-css-prefix}-cart-plus:before { content: $icon-var-cart-plus; }
.#{$icon-css-prefix}-cart-arrow-down:before { content: $icon-var-cart-arrow-down; }
.#{$icon-css-prefix}-calendar-empty:before { content: $icon-var-calendar-empty; }
.#{$icon-css-prefix}-login:before { content: $icon-var-login; }
.#{$icon-css-prefix}-logout:before { content: $icon-var-logout; }
.#{$icon-css-prefix}-left-fat:before { content: $icon-var-left-fat; }
.#{$icon-css-prefix}-right-fat:before { content: $icon-var-right-fat; }
.#{$icon-css-prefix}-up-fat:before { content: $icon-var-up-fat; }
.#{$icon-css-prefix}-down-bold:before { content: $icon-var-down-bold; }
.#{$icon-css-prefix}-left-bold:before { content: $icon-var-left-bold; }
.#{$icon-css-prefix}-up-2:before { content: $icon-var-up-2; }
.#{$icon-css-prefix}-right-2:before { content: $icon-var-right-2; }
.#{$icon-css-prefix}-left-2:before { content: $icon-var-left-2; }
.#{$icon-css-prefix}-block:before { content: $icon-var-block; }
.#{$icon-css-prefix}-resize-full:before { content: $icon-var-resize-full; }
.#{$icon-css-prefix}-resize-full-alt:before { content: $icon-var-resize-full-alt; }
.#{$icon-css-prefix}-resize-small:before { content: $icon-var-resize-small; }
.#{$icon-css-prefix}-resize-vertical:before { content: $icon-var-resize-vertical; }
.#{$icon-css-prefix}-resize-horizontal:before { content: $icon-var-resize-horizontal; }
.#{$icon-css-prefix}-move:before { content: $icon-var-move; }
.#{$icon-css-prefix}-zoom-in:before { content: $icon-var-zoom-in; }
.#{$icon-css-prefix}-zoom-out:before { content: $icon-var-zoom-out; }
.#{$icon-css-prefix}-down-2:before { content: $icon-var-down-2; }
.#{$icon-css-prefix}-up-open-1:before { content: $icon-var-up-open-1; }
.#{$icon-css-prefix}-right-open-1:before { content: $icon-var-right-open-1; }
.#{$icon-css-prefix}-left-open-1:before { content: $icon-var-left-open-1; }
.#{$icon-css-prefix}-down-open-1:before { content: $icon-var-down-open-1; }
.#{$icon-css-prefix}-clock:before { content: $icon-var-clock; }
.#{$icon-css-prefix}-stopwatch:before { content: $icon-var-stopwatch; }
.#{$icon-css-prefix}-cancel-2:before { content: $icon-var-cancel-2; }
.#{$icon-css-prefix}-down-open:before { content: $icon-var-down-open; }
.#{$icon-css-prefix}-left-open:before { content: $icon-var-left-open; }
.#{$icon-css-prefix}-right-open:before { content: $icon-var-right-open; }
.#{$icon-css-prefix}-up-open:before { content: $icon-var-up-open; }
.#{$icon-css-prefix}-angle-left:before { content: $icon-var-angle-left; }
.#{$icon-css-prefix}-angle-right:before { content: $icon-var-angle-right; }
.#{$icon-css-prefix}-angle-up:before { content: $icon-var-angle-up; }
.#{$icon-css-prefix}-angle-down:before { content: $icon-var-angle-down; }
.#{$icon-css-prefix}-cancel-3:before { content: $icon-var-cancel-3; }
.#{$icon-css-prefix}-ok-1:before { content: $icon-var-ok-1; }
.#{$icon-css-prefix}-down-3:before { content: $icon-var-down-3; }
.#{$icon-css-prefix}-left-3:before { content: $icon-var-left-3; }
.#{$icon-css-prefix}-angle-double-left:before { content: $icon-var-angle-double-left; }
.#{$icon-css-prefix}-angle-double-right:before { content: $icon-var-angle-double-right; }
.#{$icon-css-prefix}-angle-double-up:before { content: $icon-var-angle-double-up; }
.#{$icon-css-prefix}-angle-double-down:before { content: $icon-var-angle-double-down; }
.#{$icon-css-prefix}-down:before { content: $icon-var-down; }
.#{$icon-css-prefix}-left:before { content: $icon-var-left; }
.#{$icon-css-prefix}-right:before { content: $icon-var-right; }
.#{$icon-css-prefix}-up:before { content: $icon-var-up; }
.#{$icon-css-prefix}-down-big:before { content: $icon-var-down-big; }
.#{$icon-css-prefix}-left-big:before { content: $icon-var-left-big; }
.#{$icon-css-prefix}-right-big:before { content: $icon-var-right-big; }
.#{$icon-css-prefix}-up-big:before { content: $icon-var-up-big; }
.#{$icon-css-prefix}-right-3:before { content: $icon-var-right-3; }
.#{$icon-css-prefix}-up-3:before { content: $icon-var-up-3; }
.#{$icon-css-prefix}-block-1:before { content: $icon-var-block-1; }
.#{$icon-css-prefix}-cog-1:before { content: $icon-var-cog-1; }
.#{$icon-css-prefix}-cog-circled:before { content: $icon-var-cog-circled; }
.#{$icon-css-prefix}-arrows-cw-1:before { content: $icon-var-arrows-cw-1; }
.#{$icon-css-prefix}-cw-1:before { content: $icon-var-cw-1; }
.#{$icon-css-prefix}-off:before { content: $icon-var-off; }
.#{$icon-css-prefix}-cw:before { content: $icon-var-cw; }
.#{$icon-css-prefix}-ccw:before { content: $icon-var-ccw; }
.#{$icon-css-prefix}-arrows-cw:before { content: $icon-var-arrows-cw; }
.#{$icon-css-prefix}-level-up:before { content: $icon-var-level-up; }
.#{$icon-css-prefix}-level-down:before { content: $icon-var-level-down; }
.#{$icon-css-prefix}-shuffle:before { content: $icon-var-shuffle; }
.#{$icon-css-prefix}-exchange:before { content: $icon-var-exchange; }
.#{$icon-css-prefix}-history:before { content: $icon-var-history; }
.#{$icon-css-prefix}-logout-1:before { content: $icon-var-logout-1; }
.#{$icon-css-prefix}-collapse:before { content: $icon-var-collapse; }
.#{$icon-css-prefix}-clock-1:before { content: $icon-var-clock-1; }
.#{$icon-css-prefix}-video-1:before { content: $icon-var-video-1; }
.#{$icon-css-prefix}-female-1:before { content: $icon-var-female-1; }
.#{$icon-css-prefix}-male-1:before { content: $icon-var-male-1; }
.#{$icon-css-prefix}-coverflow:before { content: $icon-var-coverflow; }
.#{$icon-css-prefix}-coverflow-empty:before { content: $icon-var-coverflow-empty; }
.#{$icon-css-prefix}-cancel-4:before { content: $icon-var-cancel-4; }
.#{$icon-css-prefix}-ok-2:before { content: $icon-var-ok-2; }
.#{$icon-css-prefix}-minus-1:before { content: $icon-var-minus-1; }
.#{$icon-css-prefix}-plus-1:before { content: $icon-var-plus-1; }
.#{$icon-css-prefix}-down-small:before { content: $icon-var-down-small; }
.#{$icon-css-prefix}-left-small:before { content: $icon-var-left-small; }
.#{$icon-css-prefix}-right-small:before { content: $icon-var-right-small; }
.#{$icon-css-prefix}-up-small:before { content: $icon-var-up-small; }
.#{$icon-css-prefix}-cw-2:before { content: $icon-var-cw-2; }
.#{$icon-css-prefix}-ccw-1:before { content: $icon-var-ccw-1; }
.#{$icon-css-prefix}-back-in-time:before { content: $icon-var-back-in-time; }
.#{$icon-css-prefix}-desktop:before { content: $icon-var-desktop; }
.#{$icon-css-prefix}-laptop:before { content: $icon-var-laptop; }
.#{$icon-css-prefix}-tablet:before { content: $icon-var-tablet; }
.#{$icon-css-prefix}-mobile:before { content: $icon-var-mobile; }
.#{$icon-css-prefix}-align-left:before { content: $icon-var-align-left; }
.#{$icon-css-prefix}-align-right:before { content: $icon-var-align-right; }
.#{$icon-css-prefix}-align-justify:before { content: $icon-var-align-justify; }
.#{$icon-css-prefix}-list:before { content: $icon-var-list; }
.#{$icon-css-prefix}-mail:before { content: $icon-var-mail; }
.#{$icon-css-prefix}-mail-alt:before { content: $icon-var-mail-alt; }
.#{$icon-css-prefix}-heart:before { content: $icon-var-heart; }
.#{$icon-css-prefix}-heart-empty:before { content: $icon-var-heart-empty; }
.#{$icon-css-prefix}-toggle-off:before { content: $icon-var-toggle-off; }
.#{$icon-css-prefix}-toggle-on:before { content: $icon-var-toggle-on; }
.#{$icon-css-prefix}-check:before { content: $icon-var-check; }
.#{$icon-css-prefix}-check-empty:before { content: $icon-var-check-empty; }
.#{$icon-css-prefix}-circle:before { content: $icon-var-circle; }
.#{$icon-css-prefix}-circle-empty:before { content: $icon-var-circle-empty; }
.#{$icon-css-prefix}-gift:before { content: $icon-var-gift; }
.#{$icon-css-prefix}-filter:before { content: $icon-var-filter; }
.#{$icon-css-prefix}-tasks:before { content: $icon-var-tasks; }
.#{$icon-css-prefix}-sort-name-up:before { content: $icon-var-sort-name-up; }
.#{$icon-css-prefix}-sort-name-down:before { content: $icon-var-sort-name-down; }
.#{$icon-css-prefix}-sort-number-up:before { content: $icon-var-sort-number-up; }
.#{$icon-css-prefix}-sort-number-down:before { content: $icon-var-sort-number-down; }
.#{$icon-css-prefix}-spinner:before { content: $icon-var-spinner; }
.#{$icon-css-prefix}-venus:before { content: $icon-var-venus; }
.#{$icon-css-prefix}-mars:before { content: $icon-var-mars; }
.#{$icon-css-prefix}-down-4:before { content: $icon-var-down-4; }
.#{$icon-css-prefix}-left-4:before { content: $icon-var-left-4; }
.#{$icon-css-prefix}-right-4:before { content: $icon-var-right-4; }
.#{$icon-css-prefix}-venus-double:before { content: $icon-var-venus-double; }
.#{$icon-css-prefix}-mars-double:before { content: $icon-var-mars-double; }
.#{$icon-css-prefix}-venus-mars:before { content: $icon-var-venus-mars; }
.#{$icon-css-prefix}-up-4:before { content: $icon-var-up-4; }
.#{$icon-css-prefix}-resize-small-1:before { content: $icon-var-resize-small-1; }
.#{$icon-css-prefix}-resize-full-1:before { content: $icon-var-resize-full-1; }
.#{$icon-css-prefix}-down-bold-1:before { content: $icon-var-down-bold-1; }
.#{$icon-css-prefix}-left-bold-1:before { content: $icon-var-left-bold-1; }
.#{$icon-css-prefix}-right-bold-1:before { content: $icon-var-right-bold-1; }
.#{$icon-css-prefix}-up-bold-1:before { content: $icon-var-up-bold-1; }
.#{$icon-css-prefix}-resize-small-alt:before { content: $icon-var-resize-small-alt; }
.#{$icon-css-prefix}-volume-off-1:before { content: $icon-var-volume-off-1; }
.#{$icon-css-prefix}-volume-down-1:before { content: $icon-var-volume-down-1; }
.#{$icon-css-prefix}-volume:before { content: $icon-var-volume; }
.#{$icon-css-prefix}-volume-up-1:before { content: $icon-var-volume-up-1; }
.#{$icon-css-prefix}-resize-full-2:before { content: $icon-var-resize-full-2; }
.#{$icon-css-prefix}-resize-small-2:before { content: $icon-var-resize-small-2; }
.#{$icon-css-prefix}-resize-full-alt-2:before { content: $icon-var-resize-full-alt-2; }
.#{$icon-css-prefix}-resize-full-alt-1:before { content: $icon-var-resize-full-alt-1; }
.#{$icon-css-prefix}-play-3:before { content: $icon-var-play-3; }
.#{$icon-css-prefix}-pause-3:before { content: $icon-var-pause-3; }
.#{$icon-css-prefix}-stop-2:before { content: $icon-var-stop-2; }
.#{$icon-css-prefix}-ccw-2:before { content: $icon-var-ccw-2; }
.#{$icon-css-prefix}-ok-3:before { content: $icon-var-ok-3; }
.#{$icon-css-prefix}-twitter:before { content: $icon-var-twitter; }
.#{$icon-css-prefix}-instagram:before { content: $icon-var-instagram; }
.#{$icon-css-prefix}-volume-off-2:before { content: $icon-var-volume-off-2; }
.#{$icon-css-prefix}-volume-down-2:before { content: $icon-var-volume-down-2; }
.#{$icon-css-prefix}-volume-up-2:before { content: $icon-var-volume-up-2; }
.#{$icon-css-prefix}-menu-1:before { content: $icon-var-menu-1; }
.#{$icon-css-prefix}-undo:before { content: $icon-var-undo; }
.#{$icon-css-prefix}-arrow-curved:before { content: $icon-var-arrow-curved; }
.#{$icon-css-prefix}-cw-3:before { content: $icon-var-cw-3; }
.#{$icon-css-prefix}-clock-alt:before { content: $icon-var-clock-alt; }
.#{$icon-css-prefix}-ok-4:before { content: $icon-var-ok-4; }
.#{$icon-css-prefix}-cancel-5:before { content: $icon-var-cancel-5; }
.#{$icon-css-prefix}-cw-4:before { content: $icon-var-cw-4; }
.#{$icon-css-prefix}-menu-2:before { content: $icon-var-menu-2; }
.#{$icon-css-prefix}-dot:before { content: $icon-var-dot; }
.#{$icon-css-prefix}-dot-2:before { content: $icon-var-dot-2; }
.#{$icon-css-prefix}-dot-3:before { content: $icon-var-dot-3; }
.#{$icon-css-prefix}-terminal:before { content: $icon-var-terminal; }
.#{$icon-css-prefix}-ellipsis:before { content: $icon-var-ellipsis; }
.#{$icon-css-prefix}-ellipsis-vert:before { content: $icon-var-ellipsis-vert; }
.#{$icon-css-prefix}-sort:before { content: $icon-var-sort; }
.#{$icon-css-prefix}-sort-down:before { content: $icon-var-sort-down; }
.#{$icon-css-prefix}-sort-up:before { content: $icon-var-sort-up; }
.#{$icon-css-prefix}-play-4:before { content: $icon-var-play-4; }
.#{$icon-css-prefix}-eye:before { content: $icon-var-eye; }
.#{$icon-css-prefix}-eye-off:before { content: $icon-var-eye-off; }
.#{$icon-css-prefix}-emo-devil:before { content: $icon-var-emo-devil; }
.#{$icon-css-prefix}-emo-saint:before { content: $icon-var-emo-saint; }
.#{$icon-css-prefix}-angle-circled-left:before { content: $icon-var-angle-circled-left; }
.#{$icon-css-prefix}-angle-circled-right:before { content: $icon-var-angle-circled-right; }
.#{$icon-css-prefix}-minus-circled:before { content: $icon-var-minus-circled; }
.#{$icon-css-prefix}-help-circled:before { content: $icon-var-help-circled; }
.#{$icon-css-prefix}-chart-line:before { content: $icon-var-chart-line; }
.#{$icon-css-prefix}-credit-card:before { content: $icon-var-credit-card; }
.#{$icon-css-prefix}-bullseye:before { content: $icon-var-bullseye; }
.#{$icon-css-prefix}-newspaper:before { content: $icon-var-newspaper; }
.#{$icon-css-prefix}-video-2:before { content: $icon-var-video-2; }
.#{$icon-css-prefix}-picture-1:before { content: $icon-var-picture-1; }
.#{$icon-css-prefix}-home-1:before { content: $icon-var-home-1; }
.#{$icon-css-prefix}-lock-1:before { content: $icon-var-lock-1; }
.#{$icon-css-prefix}-lock-open-1:before { content: $icon-var-lock-open-1; }
.#{$icon-css-prefix}-eye-1:before { content: $icon-var-eye-1; }
.#{$icon-css-prefix}-thumbs-up-1:before { content: $icon-var-thumbs-up-1; }
.#{$icon-css-prefix}-thumbs-down-1:before { content: $icon-var-thumbs-down-1; }
.#{$icon-css-prefix}-bell-1:before { content: $icon-var-bell-1; }
.#{$icon-css-prefix}-archive:before { content: $icon-var-archive; }
.#{$icon-css-prefix}-hourglass:before { content: $icon-var-hourglass; }
.#{$icon-css-prefix}-down-open-2:before { content: $icon-var-down-open-2; }
.#{$icon-css-prefix}-left-open-2:before { content: $icon-var-left-open-2; }
.#{$icon-css-prefix}-right-open-2:before { content: $icon-var-right-open-2; }
.#{$icon-css-prefix}-up-open-2:before { content: $icon-var-up-open-2; }
.#{$icon-css-prefix}-down-open-mini:before { content: $icon-var-down-open-mini; }
.#{$icon-css-prefix}-left-open-mini:before { content: $icon-var-left-open-mini; }
.#{$icon-css-prefix}-right-open-mini:before { content: $icon-var-right-open-mini; }
.#{$icon-css-prefix}-up-open-mini:before { content: $icon-var-up-open-mini; }
.#{$icon-css-prefix}-down-open-big:before { content: $icon-var-down-open-big; }
.#{$icon-css-prefix}-left-open-big:before { content: $icon-var-left-open-big; }
.#{$icon-css-prefix}-right-open-big:before { content: $icon-var-right-open-big; }
.#{$icon-css-prefix}-up-open-big:before { content: $icon-var-up-open-big; }
.#{$icon-css-prefix}-chart-line-1:before { content: $icon-var-chart-line-1; }
.#{$icon-css-prefix}-ticket-1:before { content: $icon-var-ticket-1; }
.#{$icon-css-prefix}-gauge-1:before { content: $icon-var-gauge-1; }
.#{$icon-css-prefix}-home-2:before { content: $icon-var-home-2; }
.#{$icon-css-prefix}-pin-outline:before { content: $icon-var-pin-outline; }
.#{$icon-css-prefix}-pin-1:before { content: $icon-var-pin-1; }
.#{$icon-css-prefix}-menu-3:before { content: $icon-var-menu-3; }
.#{$icon-css-prefix}-resize-full-4:before { content: $icon-var-resize-full-4; }
.#{$icon-css-prefix}-resize-normal:before { content: $icon-var-resize-normal; }
.#{$icon-css-prefix}-chart:before { content: $icon-var-chart; }
.#{$icon-css-prefix}-video-3:before { content: $icon-var-video-3; }
.#{$icon-css-prefix}-block-3:before { content: $icon-var-block-3; }
.#{$icon-css-prefix}-search-4:before { content: $icon-var-search-4; }
.#{$icon-css-prefix}-user-4:before { content: $icon-var-user-4; }
.#{$icon-css-prefix}-user-woman:before { content: $icon-var-user-woman; }
.#{$icon-css-prefix}-videocam-2:before { content: $icon-var-videocam-2; }
.#{$icon-css-prefix}-videocam-alt:before { content: $icon-var-videocam-alt; }
.#{$icon-css-prefix}-camera-4:before { content: $icon-var-camera-4; }
.#{$icon-css-prefix}-chart-1:before { content: $icon-var-chart-1; }
.#{$icon-css-prefix}-user-5:before { content: $icon-var-user-5; }
.#{$icon-css-prefix}-user-male:before { content: $icon-var-user-male; }
.#{$icon-css-prefix}-user-female:before { content: $icon-var-user-female; }
.#{$icon-css-prefix}-cinema:before { content: $icon-var-cinema; }
.#{$icon-css-prefix}-credit-card-3:before { content: $icon-var-credit-card-3; }
.#{$icon-css-prefix}-googleplay:before { content: $icon-var-googleplay; }
.#{$icon-css-prefix}-video-alt-1:before { content: $icon-var-video-alt-1; }
.#{$icon-css-prefix}-calendar-7:before { content: $icon-var-calendar-7; }
.#{$icon-css-prefix}-lightbulb-2:before { content: $icon-var-lightbulb-2; }
.#{$icon-css-prefix}-road-1:before { content: $icon-var-road-1; }
.#{$icon-css-prefix}-fire-2:before { content: $icon-var-fire-2; }
.#{$icon-css-prefix}-clipboard-2:before { content: $icon-var-clipboard-2; }
.#{$icon-css-prefix}-glasses:before { content: $icon-var-glasses; }
.#{$icon-css-prefix}-video-5:before { content: $icon-var-video-5; }
.#{$icon-css-prefix}-ok-6:before { content: $icon-var-ok-6; }
.#{$icon-css-prefix}-credit-card-alt:before { content: $icon-var-credit-card-alt; }