// Variables
// --------------------------
$icon-font-size-base: 14px !default;
$icon-line-height-base: 1 !default;
$icon-css-prefix: icon !default;
$icon-border-color: #eee !default;
$icon-inverse: #fff !default;
$icon-li-width: (30em / 14) !default;

$icon-var-spin4: '\e800';
$icon-var-crown: '\e801';
$icon-var-crown-plus: '\e802';
$icon-var-crown-minus: '\e803';
$icon-var-search: '\e804';
$icon-var-star: '\e805';
$icon-var-star-empty: '\e806';
$icon-var-star-half: '\e807';
$icon-var-star-half-alt: '\e808';
$icon-var-user: '\e809';
$icon-var-user-plus: '\e80a';
$icon-var-user-times: '\e80b';
$icon-var-users: '\e80c';
$icon-var-plus: '\e80d';
$icon-var-minus: '\e80e';
$icon-var-male: '\e80f';
$icon-var-female: '\e810';
$icon-var-child: '\e811';
$icon-var-spin6: '\e812';
$icon-var-spin3: '\e813';
$icon-var-marquee: '\e814';
$icon-var-user-secret: '\e815';
$icon-var-video: '\e816';
$icon-var-videocam: '\e817';
$icon-var-picture: '\e818';
$icon-var-camera: '\e819';
$icon-var-camera-alt: '\e81a';
$icon-var-th-large: '\e81b';
$icon-var-th: '\e81c';
$icon-var-th-list: '\e81d';
$icon-var-ok: '\e81e';
$icon-var-ok-squared: '\e821';
$icon-var-cancel: '\e822';
$icon-var-ok-circled: '\e823';
$icon-var-ok-circled2: '\e824';
$icon-var-plus-squared: '\e825';
$icon-var-cancel-circled: '\e826';
$icon-var-plus-squared-alt: '\e827';
$icon-var-cancel-circled2: '\e828';
$icon-var-minus-squared: '\e829';
$icon-var-minus-squared-alt: '\e82a';
$icon-var-help: '\e82b';
$icon-var-plus-circled: '\e82c';
$icon-var-info-circled: '\e82d';
$icon-var-info: '\e82e';
$icon-var-home: '\e82f';
$icon-var-cogs: '\e830';
$icon-var-right-dir: '\e831';
$icon-var-link-ext: '\e832';
$icon-var-left-dir: '\e833';
$icon-var-play-1: '\e834';
$icon-var-up-dir: '\e835';
$icon-var-down-dir: '\e836';
$icon-var-play: '\e837';
$icon-var-fast-backward: '\e838';
$icon-var-fast-forward: '\e839';
$icon-var-forward-1: '\e83a';
$icon-var-step-backward: '\e83b';
$icon-var-pause-1: '\e83c';
$icon-var-play-2: '\e83d';
$icon-var-stop-1: '\e83e';
$icon-var-comment: '\e83f';
$icon-var-chat: '\e840';
$icon-var-chat-empty: '\e841';
$icon-var-step-forward: '\e842';
$icon-var-play-circled2: '\e843';
$icon-var-stop: '\e844';
$icon-var-pause: '\e845';
$icon-var-backward: '\e846';
$icon-var-pause-circled: '\e847';
$icon-var-cancel-1: '\e848';
$icon-var-spin2: '\e849';
$icon-var-reply: '\e84a';
$icon-var-reply-all: '\e84b';
$icon-var-forward: '\e84c';
$icon-var-spin1: '\e84d';
$icon-var-spin5: '\e84e';
$icon-var-down-1: '\e84f';
$icon-var-pause-2: '\e850';
$icon-var-resize-full-3: '\e851';
$icon-var-left-1: '\e852';
$icon-var-right-1: '\e853';
$icon-var-pencil: '\e854';
$icon-var-pencil-squared: '\e855';
$icon-var-edit: '\e856';
$icon-var-resize-small-3: '\e857';
$icon-var-retweet: '\e858';
$icon-var-keyboard: '\e859';
$icon-var-gamepad: '\e85a';
$icon-var-up-1: '\e85b';
$icon-var-volume-off: '\e85c';
$icon-var-volume-down: '\e85d';
$icon-var-volume-up: '\e85e';
$icon-var-bullhorn: '\e85f';
$icon-var-right-bold: '\e860';
$icon-var-up-bold: '\e861';
$icon-var-down-fat: '\e862';
$icon-var-attention-alt: '\e863';
$icon-var-attention: '\e864';
$icon-var-attention-circled: '\e865';
$icon-var-location: '\e866';
$icon-var-trash: '\e867';
$icon-var-trash-empty: '\e868';
$icon-var-cog: '\e869';
$icon-var-cog-alt: '\e86a';
$icon-var-menu: '\e86b';
$icon-var-wrench: '\e86c';
$icon-var-sliders: '\e86d';
$icon-var-basket: '\e86e';
$icon-var-cart-plus: '\e86f';
$icon-var-cart-arrow-down: '\e870';
$icon-var-calendar-empty: '\e871';
$icon-var-login: '\e872';
$icon-var-logout: '\e873';
$icon-var-left-fat: '\e874';
$icon-var-right-fat: '\e875';
$icon-var-up-fat: '\e876';
$icon-var-down-bold: '\e877';
$icon-var-left-bold: '\e878';
$icon-var-up-2: '\e879';
$icon-var-right-2: '\e87a';
$icon-var-left-2: '\e87b';
$icon-var-block: '\e87c';
$icon-var-resize-full: '\e87d';
$icon-var-resize-full-alt: '\e87e';
$icon-var-resize-small: '\e87f';
$icon-var-resize-vertical: '\e880';
$icon-var-resize-horizontal: '\e881';
$icon-var-move: '\e882';
$icon-var-zoom-in: '\e883';
$icon-var-zoom-out: '\e884';
$icon-var-down-2: '\e885';
$icon-var-up-open-1: '\e886';
$icon-var-right-open-1: '\e887';
$icon-var-left-open-1: '\e888';
$icon-var-down-open-1: '\e889';
$icon-var-clock: '\e88a';
$icon-var-stopwatch: '\e88b';
$icon-var-cancel-2: '\e88c';
$icon-var-down-open: '\e88d';
$icon-var-left-open: '\e88e';
$icon-var-right-open: '\e88f';
$icon-var-up-open: '\e890';
$icon-var-angle-left: '\e891';
$icon-var-angle-right: '\e892';
$icon-var-angle-up: '\e893';
$icon-var-angle-down: '\e894';
$icon-var-cancel-3: '\e895';
$icon-var-ok-1: '\e896';
$icon-var-down-3: '\e897';
$icon-var-left-3: '\e898';
$icon-var-angle-double-left: '\e899';
$icon-var-angle-double-right: '\e89a';
$icon-var-angle-double-up: '\e89b';
$icon-var-angle-double-down: '\e89c';
$icon-var-down: '\e89d';
$icon-var-left: '\e89e';
$icon-var-right: '\e89f';
$icon-var-up: '\e8a0';
$icon-var-down-big: '\e8a1';
$icon-var-left-big: '\e8a2';
$icon-var-right-big: '\e8a3';
$icon-var-up-big: '\e8a4';
$icon-var-right-3: '\e8a5';
$icon-var-up-3: '\e8a6';
$icon-var-block-1: '\e8a7';
$icon-var-cog-1: '\e8a8';
$icon-var-cog-circled: '\e8a9';
$icon-var-arrows-cw-1: '\e8aa';
$icon-var-cw-1: '\e8ab';
$icon-var-off: '\e8ac';
$icon-var-cw: '\e8ad';
$icon-var-ccw: '\e8ae';
$icon-var-arrows-cw: '\e8af';
$icon-var-level-up: '\e8b0';
$icon-var-level-down: '\e8b1';
$icon-var-shuffle: '\e8b2';
$icon-var-exchange: '\e8b3';
$icon-var-history: '\e8b4';
$icon-var-logout-1: '\e8b5';
$icon-var-collapse: '\e8b6';
$icon-var-clock-1: '\e8b7';
$icon-var-video-1: '\e8b8';
$icon-var-female-1: '\e8b9';
$icon-var-male-1: '\e8ba';
$icon-var-coverflow: '\e8bb';
$icon-var-coverflow-empty: '\e8bc';
$icon-var-cancel-4: '\e8bd';
$icon-var-ok-2: '\e8be';
$icon-var-minus-1: '\e8bf';
$icon-var-plus-1: '\e8c0';
$icon-var-down-small: '\e8c1';
$icon-var-left-small: '\e8c2';
$icon-var-right-small: '\e8c3';
$icon-var-up-small: '\e8c4';
$icon-var-cw-2: '\e8c5';
$icon-var-ccw-1: '\e8c6';
$icon-var-back-in-time: '\e8c7';
$icon-var-desktop: '\e8c8';
$icon-var-laptop: '\e8c9';
$icon-var-tablet: '\e8ca';
$icon-var-mobile: '\e8cb';
$icon-var-align-left: '\e8cc';
$icon-var-align-right: '\e8cd';
$icon-var-align-justify: '\e8ce';
$icon-var-list: '\e8cf';
$icon-var-mail: '\e8d0';
$icon-var-mail-alt: '\e8d1';
$icon-var-heart: '\e8d2';
$icon-var-heart-empty: '\e8d3';
$icon-var-toggle-off: '\e8d4';
$icon-var-toggle-on: '\e8d5';
$icon-var-check: '\e8d6';
$icon-var-check-empty: '\e8d7';
$icon-var-circle: '\e8d8';
$icon-var-circle-empty: '\e8d9';
$icon-var-gift: '\e8da';
$icon-var-filter: '\e8db';
$icon-var-tasks: '\e8dc';
$icon-var-sort-name-up: '\e8dd';
$icon-var-sort-name-down: '\e8de';
$icon-var-sort-number-up: '\e8df';
$icon-var-sort-number-down: '\e8e0';
$icon-var-spinner: '\e8e1';
$icon-var-venus: '\e8e2';
$icon-var-mars: '\e8e3';
$icon-var-down-4: '\e8e4';
$icon-var-left-4: '\e8e5';
$icon-var-right-4: '\e8e6';
$icon-var-venus-double: '\e8e7';
$icon-var-mars-double: '\e8e8';
$icon-var-venus-mars: '\e8e9';
$icon-var-up-4: '\e8ea';
$icon-var-resize-small-1: '\e8eb';
$icon-var-resize-full-1: '\e8ec';
$icon-var-down-bold-1: '\e8ed';
$icon-var-left-bold-1: '\e8ee';
$icon-var-right-bold-1: '\e8ef';
$icon-var-up-bold-1: '\e8f0';
$icon-var-resize-small-alt: '\e8f1';
$icon-var-volume-off-1: '\e8f2';
$icon-var-volume-down-1: '\e8f3';
$icon-var-volume: '\e8f4';
$icon-var-volume-up-1: '\e8f5';
$icon-var-resize-full-2: '\e8f6';
$icon-var-resize-small-2: '\e8f7';
$icon-var-resize-full-alt-2: '\e8f8';
$icon-var-resize-full-alt-1: '\e8f9';
$icon-var-play-3: '\e8fa';
$icon-var-pause-3: '\e8fb';
$icon-var-stop-2: '\e8fc';
$icon-var-ccw-2: '\e8fd';
$icon-var-ok-3: '\e8fe';
$icon-var-twitter: '\e8ff';
$icon-var-instagram: '\e900';
$icon-var-volume-off-2: '\e901';
$icon-var-volume-down-2: '\e902';
$icon-var-volume-up-2: '\e903';
$icon-var-menu-1: '\e904';
$icon-var-undo: '\e905';
$icon-var-arrow-curved: '\e906';
$icon-var-cw-3: '\e907';
$icon-var-clock-alt: '\e908';
$icon-var-ok-4: '\e909';
$icon-var-cancel-5: '\e90a';
$icon-var-cw-4: '\e90b';
$icon-var-menu-2: '\e90c';
$icon-var-dot: '\e90d';
$icon-var-dot-2: '\e90e';
$icon-var-dot-3: '\e90f';
$icon-var-terminal: '\e910';
$icon-var-ellipsis: '\e911';
$icon-var-ellipsis-vert: '\e912';
$icon-var-sort: '\e913';
$icon-var-sort-down: '\e914';
$icon-var-sort-up: '\e915';
$icon-var-play-4: '\e916';
$icon-var-eye: '\e917';
$icon-var-eye-off: '\e918';
$icon-var-emo-devil: '\e919';
$icon-var-emo-saint: '\e91a';
$icon-var-angle-circled-left: '\e91b';
$icon-var-angle-circled-right: '\e91c';
$icon-var-minus-circled: '\e91d';
$icon-var-help-circled: '\e91e';
$icon-var-chart-line: '\e94d';
$icon-var-credit-card: '\e94f';
$icon-var-bullseye: '\e995';
$icon-var-newspaper: '\e9a9';
$icon-var-video-2: '\ea36';
$icon-var-picture-1: '\ea37';
$icon-var-home-1: '\ea4a';
$icon-var-lock-1: '\ea4d';
$icon-var-lock-open-1: '\ea4e';
$icon-var-eye-1: '\ea4f';
$icon-var-thumbs-up-1: '\ea54';
$icon-var-thumbs-down-1: '\ea55';
$icon-var-bell-1: '\ea66';
$icon-var-archive: '\ea7a';
$icon-var-hourglass: '\ea8c';
$icon-var-down-open-2: '\ea9c';
$icon-var-left-open-2: '\ea9d';
$icon-var-right-open-2: '\ea9e';
$icon-var-up-open-2: '\ea9f';
$icon-var-down-open-mini: '\eaa0';
$icon-var-left-open-mini: '\eaa1';
$icon-var-right-open-mini: '\eaa2';
$icon-var-up-open-mini: '\eaa3';
$icon-var-down-open-big: '\eaa4';
$icon-var-left-open-big: '\eaa5';
$icon-var-right-open-big: '\eaa6';
$icon-var-up-open-big: '\eaa7';
$icon-var-chart-line-1: '\eaee';
$icon-var-ticket-1: '\eaf4';
$icon-var-gauge-1: '\eb07';
$icon-var-home-2: '\eb76';
$icon-var-pin-outline: '\eb7f';
$icon-var-pin-1: '\eb80';
$icon-var-menu-3: '\ebbe';
$icon-var-resize-full-4: '\ebd4';
$icon-var-resize-normal: '\ebd6';
$icon-var-chart: '\ec38';
$icon-var-video-3: '\ec7f';
$icon-var-block-3: '\ecc9';
$icon-var-search-4: '\ed10';
$icon-var-user-4: '\ed14';
$icon-var-user-woman: '\ed15';
$icon-var-videocam-2: '\ed18';
$icon-var-videocam-alt: '\ed19';
$icon-var-camera-4: '\ed1a';
$icon-var-chart-1: '\ed5c';
$icon-var-user-5: '\eda2';
$icon-var-user-male: '\eda3';
$icon-var-user-female: '\eda4';
$icon-var-cinema: '\ee41';
$icon-var-credit-card-3: '\ee44';
$icon-var-googleplay: '\eeb4';
$icon-var-video-alt-1: '\ef18';
$icon-var-calendar-7: '\ef71';
$icon-var-lightbulb-2: '\ef7c';
$icon-var-road-1: '\efcb';
$icon-var-fire-2: '\efd6';
$icon-var-clipboard-2: '\efdc';
$icon-var-glasses: '\efe8';
$icon-var-video-5: '\f04b';
$icon-var-ok-6: '\f050';
$icon-var-credit-card-alt: '\f283';