.map {
	position: relative;
	display: block;
}

.map .map-left {
	position: absolute;
	width: 50%;
	left: 0;
	top: 0;
	height: 100%;
}

.map .map-right {
	position: absolute;
	width: 50%;
	right: 0;
	top: 0;
	height: 100%;
}